.blogCard{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 450px;
    background-color: rgb(34,41,49);
    color: white;
    gap: 10px;

}

.blogCard img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.blogCard p {
    height: 200px;
    overflow: scroll;
}
.blogCard h1{
    font-size: 17px;
}
.blogCard button{
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
}