* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure box-sizing is set globally */
}

#Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(50, 50, 93);
    color: white;
}

#Header div {
    display: flex;
    gap: 10px;
}

#Header div button {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer for better UX */
    background-color: #4CAF50; /* Add a background color for the button */
    color: white; /* Text color for the button */
    transition: background-color 0.3s ease; /* Smooth transition effect on hover */
}

#Header div button:hover {
    background-color: #45a049; /* Darker color on hover */
}
